@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --font-color: #120d4d;
  --bg-color: #fff;
  --main-color: #fb674b;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--font-color);
  text-wrap: nowrap;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* @media screen and (max-width: 500px) {
    body {
        overflow: hidden;
    }
} */
